<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBook</title>
    <style>
button[name="btnFinalizar"] {
  position: absolute;
  margin-top: 1rem;
  left:1rem;
}
input[name="quantidade"] {
  width: 58px;
}
input[name="btnApagar"] {
  background-color: red;
  color: aliceblue;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    {{{body}}}
</body>
</html>