<h1 name="h1"></h1>
 <a href="/"><button name="btnVoltar">Voltar</button></a>
<p>
    <form>
        <input type="text" placeholder="Pesquise Aqui" name="busca">
        <input type="button" value="Buscar" formaction="/Pesquisa/Busca">
    </form>
</p>