<h1>Menu de Produtos</h1>
 <a href="/"><button name="btnVoltar">Voltar</button></a>

    <form name="firebase">
        <p>Buscar: <input type="text" placeholder="Pesquise Aqui" name="busca">
        <input type="submit" value="Buscar" formaction="/Pesquisa/Busca">
        </p>
    </form>

<p>
    <a href="/CadastroProduto"><button name="btnCadastro">Cadastro de Produtos</button></a>
</p>